{{template "base" .}}

{{define "content"}}

    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="mt-3">Search for Availability</h1>
          <div class="form-row">
              <div class="col">
                <div class="form-row" id="reservation-dates">
                  <div class="col">
                    <input
                      class="form-control"
                      type="text"
                      name="start"
                      placeholder="Arrival date"
                    />
                  </div>
                  <div class="col">
                    <input
                      class="form-control"
                      type="text"
                      name="end"
                      placeholder="Departure"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr />
            

            <button type="submit" class="btn btn-primary">
              Search Availability
            </button>
          </form>
        </div>
      </div>
    </div>

{{end}}